<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar color="primary" dark flat>
                                <v-toolbar-title>Login form</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field @on="inputId" label="Login" name="login" prepend-icon="fas fa-user-friends" type="text"></v-text-field>
                                    <v-text-field @on="inputPw" id="password" label="Password" name="password" prepend-icon="fas fa-key" type="password"></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn v-on:click="loginClick" color="primary">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: 'Login',
        props: {
            source: String,
        },
        data: () => ({
            inputId : '',
            inputPw : '',
            loginId : 'corpus',
            loginPw : 'nikl#2669',
        }),
        methods : {
            loginClick() {
                if (this.inputId === this.logingId && this.inputPw === this.loginPw) {
                    this.$router.push({name : 'Main'});
                } else {
                    this.$router.push({name : 'Main'});
                }
            },
        },
    };
</script>