<template>
  <div id="app">
    <v-container fluid>
      <v-card>
        <v-toolbar flat color="primary" dark>
          <v-toolbar-title>
            말뭉치 데이터 검증기
            <v-btn v-on:click="connvetJson">기본 검증</v-btn>
          </v-toolbar-title>
        </v-toolbar>
        <v-tabs fixed-tabs background-color="indigo" dark>
          <v-tab>
            <v-icon left>far fa-edit</v-icon>에디터
          </v-tab>
          <v-tab>
            <v-icon left>fas fa-glasses</v-icon>트리
          </v-tab>
          <v-tab>
            <v-icon left>far fa-file-alt</v-icon>구조 형식
          </v-tab>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-alert v-bind:type="altType">{{statusMsg}}</v-alert>
                
                <v-file-input id="jsonFile" label="File Input" ref="myFiles" v-on:change="openFile" accept=".json, .txt"></v-file-input>
                <!-- <input type="file" id="file" ref="myFiles" v-on:change="openFile" accept=".json, .txt" /> -->
                <text-info @returnEvent="returnJson" v-bind:jsonStr="jsonStr" v-bind:windowHeight="windowHeight"></text-info>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <json-tree :raw="jsonStr"></json-tree>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <table-info v-bind:windowHeight="windowHeight"></table-info>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-container>

    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2019</span>
    </v-footer>

    <v-dialog v-model="jsonErrorDialog" width="800">
      <v-card>
        <v-card-title class="headline">JSON 변환 중 오류가 발생 하였습니다.</v-card-title>
        <v-card-text>
          <v-alert type="error">{{jsonErrorMessage}}</v-alert>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="attributeErrorDialog" width="1000">
      <v-card>
        <v-card-title class="headline">유효하기 않은 속성이 존재 합니다.</v-card-title>
        <v-card-text>
           <v-simple-table dark dense>
              <thead>
                <tr>
                  <th style="width:5%" class="text-center" scope="col">#</th>
                  <th style="width:15%" scope="col">오류 대상</th>
                  <th style="width:25%" class="text-left" scope="col">오류 메시지</th>
                  <th class="text-left" scope="col">오류 위치</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(attr, index) in attributeErrorViewItem" v-bind:key="index">
                    <th class="text-center" scope="row">{{index+1}}</th>
                    <td>{{attr.target}}</td>
                    <td>{{attr.message}}</td>
                    <td><textarea style="width:98%;" rows="5" readonly="readonly" v-model="attr.pos"></textarea></td>
                </tr>
              </tbody>
            </v-simple-table>
        </v-card-text>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>

import TableInfo from './TableInfo';
import TextInfo from './TextInfo';
import ValidObject from './../js/ValidObject';
import {validate, IsInt} from 'class-validator';
import JsonTree from 'vue-json-tree';

import Root, { Metadata
             , Document
             , DocumentMetadata
             , DocumentSpeaker
             , DocumentSentence
             , DocumentSentenceUtterance
             , DocumentSentenceWord
             , DocumentSentenceMorpheme
             , DocumentSentenceWSD
             , DocumentSentenceNE
             , DocumentSentenceDP
             , DocumentSentenceSRL
             , DocumentSentenceSRLPredicate
             , DocumentSentenceSRLArgument
             , DocumentCR
             , DocumentCREntity
             , DocumentCREntityMention
             , DocumentZA
             , DocumentZAPredicate
             , DocumentZAAntecedent
             } from '../model/Root';


export default {
  name: 'Main',
  components : {
        TableInfo,
        TextInfo,
        JsonTree,
  },
  data: () => ({
    altType : 'info',
    statusMsg : '기본 검증을 해주세요.',
    windowWidth : 0,
    windowHeight : 0,
    jsonErrorDialog : false,
    jsonErrorMessage : null,
    textData : null,
    jsonStr : null,
    jsonObj : null,
    ValidObject,
    validate,
    attributeErrorDialog : false,
    attributeError : [],
    attributeErrorViewItem : [],
  }),
  methods: {
    openFile(file){
      let reader = new FileReader();
      // reader.readAsText(file, "utf-8");
      reader.readAsText(file);

      reader.onload = (e) => {
        this.jsonStr = '';
        this.jsonStr = e.target.result;
        console.log(this.jsonStr);
      };
    },
    connvetJson() {
    // this.jsonObj = JSON.stringify(this.object);
    // this.jsonObj = this.object;
    // this.jsonObj = JSON.parse(this.jsonStr);
      try {
        this.jsonObj = JSON.parse(this.jsonStr);
        this.validatorJson();
      } catch (error) {
        this.jsonErrorMessage = error.name + ':' + error.message;
        this.jsonErrorDialog = true;
        this.altType = 'error';
        this.statusMsg = error.name + ':' + error.message;
      }
    },
    validatorJson() {

      this.attributeError = [];
      this.attributeErrorViewItem = [];
      let root = new Root();
      Object.assign(root , this.jsonObj);

      this.validInfo(root);
      this.validInfo(Object.assign(new Metadata(), root.metadata));

      let rootDocument = root.document;
      rootDocument.forEach(document => {
        this.validInfo(Object.assign(new Document(), document));        
        this.validInfo(Object.assign(new DocumentMetadata(), document.metadata));

        document.speaker.forEach(speaker => {
          this.validInfo(Object.assign(new DocumentSpeaker(), speaker));
        });

        document.sentence.forEach(sentence => {

          this.validInfo(Object.assign(new DocumentSentence(), sentence));
          this.validInfo(Object.assign(new DocumentSentenceUtterance(), sentence.utterance));

          sentence.word.forEach(word => {
            this.validInfo(Object.assign(new DocumentSentenceWord(), word));
          });

          sentence.morpheme.forEach(morpheme => {
            this.validInfo(Object.assign(new DocumentSentenceMorpheme(), morpheme));
          });

          sentence.WSD.forEach(WSD => {
            this.validInfo(Object.assign(new DocumentSentenceWSD(), WSD));
          });

          sentence.NE.forEach(NE => {
            this.validInfo(Object.assign(new DocumentSentenceNE(), NE));
          });

          sentence.DP.forEach(DP => {
            this.validInfo(Object.assign(new DocumentSentenceDP(), DP));
          });

          sentence.SRL.forEach(SRL => {
            this.validInfo(Object.assign(new DocumentSentenceSRL(), SRL));
            this.validInfo(Object.assign(new DocumentSentenceSRLPredicate(), SRL.predicate));

            SRL.argument.forEach(argument => {              
              this.validInfo(Object.assign(new DocumentSentenceSRLArgument(), argument));
            });
          });
        });

        document.CR.forEach(CR => {
          this.validInfo(Object.assign(new DocumentCR(), CR));

          CR.entity.forEach(entity => {
            this.validInfo(Object.assign(new DocumentCREntity(), entity));            
            
            entity.mention.forEach(mention => {
              this.validInfo(Object.assign(new DocumentCREntityMention(), mention));    
            });
          });
        });

        document.ZA.forEach(ZA => {
          this.validInfo(Object.assign(new DocumentZA(), ZA));
          this.validInfo(Object.assign(new DocumentZAPredicate(), ZA.predicate));
          this.validInfo(Object.assign(new DocumentZAAntecedent(), ZA.antecedent));
        });
      });
    },
    validInfo(item) {
        validate(item).then(errors => {
            if (errors.length > 0) {
                console.log('validation failed. errors: ', errors);       
                this.attributeError.push(...errors);     
            } else {
                console.log('validation succeed');
            }
        });
    },
    returnJson(param) {
      this.jsonStr = param;
    },
    handleResize() {
      this.windowWidth = window.innerWidth;
      this.windowHeight = window.innerHeight;
    },
  },
  mounted() {
    this.jsonObj = this.ValidObject;
    this.jsonStr = JSON.stringify(this.ValidObject, null, 4);
  },
  created() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  watch: {
    attributeError() {
      if(this.attributeError.length > 0){
        this.attributeError.forEach(err => {
          let target = err.property;
          let pos = err.target;
          for(let [key, value] of Object.entries(err.constraints)){

            let msg = '';
            switch(key){
              case 'isString' : msg = '자료형이 문자 형태여야 합니다.';
              break;
              case 'isInt' : msg = '자료형이 정수 형태여야 합니다.';
              break;
              case 'isNotEmpty' : msg = '필수 정보 입니다.';
              break;
              case 'isArray' : msg = '자료형이 배열 형태여야 합니다.';
              break;
              case 'arrayNotEmpty' : msg = '배열에 데이터가 누락 되었습니다.';
              break;
              default : msg = value;
              break;
            }

            this.attributeErrorViewItem.push({'target': target, 'type': key, 'message' :msg, 'value' : value, 'pos' : JSON.stringify(pos, null, 4)});
          }
        });
        this.attributeErrorDialog = true;
        this.altType = 'warning';
        this.statusMsg = '오류를 확인해 주세요.';
      }else {
        this.altType = 'success';
        this.statusMsg = '검증을 완료 하였습니다.';
      }
    },
    jsonStr() {
        this.altType = 'info';
        this.statusMsg = '기본 검증을 해주세요.';
    }
  },
};

</script>