<template>
    <v-simple-table
        dark
        fixed-header
        dense
        light
        :height="tableHeight"
        >
        <thead>
            <tr>
                <th width="100">0 수준</th>
                <th width="100">1 수준</th>
                <th width="100">2 수준</th>
                <th width="100">3 수준</th>
                <th width="100">4 수준</th>
                <th width="100">5 수준</th>
                <th width="50">반복</th>
                <th width="100">타입</th>
                <th width="80">문어 구어</th>
                <th width="100">필수 층위</th>
                <th>설명</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>root</td><td></td><td></td><td></td><td></td><td></td><td>-</td><td>-</td><td>-</td><td>-</td><td>말뭉치 파일.</td></tr>
            <tr><td></td><td>id</td><td></td><td></td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>파일 ID. 말뭉치 파일의 고유 ID로 중복이 없어야 함 원시 말뭉치 파일명과 동일. 만약 id가 -1이면 검증용 작업 세트처럼 임의 생성 파일을 나타냄</td></tr>
            <tr><td></td><td>metadata</td><td></td><td></td><td></td><td></td><td>1</td><td>obj</td><td>공통</td><td>공통</td><td>파일의 메타 정보</td></tr>
            <tr><td></td><td></td><td>title</td><td></td><td></td><td></td><td>1</td><td>str</td><td>공통 </td><td>공통</td><td>파일 제목</td></tr>
            <tr><td></td><td></td><td>author</td><td></td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td> 공통</td><td>작성자, 게시자</td></tr>
            <tr><td></td><td></td><td>publisher</td><td></td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>출판사, 신문사</td></tr>
            <tr><td></td><td></td><td>year</td><td></td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>출판년도</td></tr>
            <tr><td></td><td></td><td>annotation_level</td><td></td><td></td><td></td><td>1..N</td><td>arr (str)</td><td>공통</td><td>공통</td><td>분석 층위 (복수 나열 가능) 원시, 형태 분석, 개체명 분석, 어휘의미 분석, 상호참조 해결, 무형 대용어 복원, 구문 분석, 의미역 분석</td></tr>
            <tr><td></td><td></td><td>note</td><td></td><td></td><td></td><td>0..1</td><td>str</td><td>공통</td><td>공통</td><td>부가 설명. 샘플링 방식 등 기타 정보</td></tr>
            <tr><td></td><td>document</td><td></td><td></td><td></td><td></td><td>1..N</td><td>arr (obj)</td><td>공통</td><td>공통</td><td>문서</td></tr>
            <tr><td></td><td></td><td>id</td><td></td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>문서 ID ‘파일 ID.파일 내 문서 순서’로 구성. 파일 내 문서 순서는 1부터 시작</td></tr>
            <tr><td></td><td></td><td>metadata</td><td></td><td></td><td></td><td>1</td><td>obj</td><td>공통</td><td>공통</td><td>문서의 메타 정보</td></tr>
            <tr><td></td><td></td><td></td><td>title</td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>문서 제목</td></tr>
            <tr><td></td><td></td><td></td><td>author</td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>작성자, 게시자</td></tr>
            <tr><td></td><td></td><td></td><td>publisher</td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>출판사, 신문사</td></tr>
            <tr><td></td><td></td><td></td><td>url</td><td></td><td></td><td>0..1</td><td>str</td><td>공통</td><td>공통</td><td>URL 주소</td></tr>
            <tr><td></td><td></td><td></td><td>date</td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>작성일시, 게시일시, 크롤링 일시</td></tr>
            <tr><td></td><td></td><td></td><td>category</td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>분류. 분류 단계는 ‘>’로 구분.   예) “문어 > 신문 > 경제“</td></tr>
            <tr><td></td><td></td><td></td><td>note</td><td></td><td></td><td>0..1</td><td>str</td><td>공통</td><td>공통</td><td>부가 설명. 구어 사용 맥락 정보, 샘플링 방식 등 기타 정보</td></tr>
            <tr><td></td><td></td><td>speaker</td><td></td><td></td><td></td><td>1..N</td><td>arr (obj)</td><td>구어</td><td>공통</td><td>발화자 정보.</td></tr>
            <tr><td></td><td></td><td></td><td>id</td><td></td><td></td><td>1</td><td>num</td><td>구어</td><td>공통</td><td>발화자 ID</td></tr>
            <tr><td></td><td></td><td></td><td>age</td><td></td><td></td><td>1</td><td>str</td><td>구어</td><td>공통</td><td>나이. 모를 경우 “?”</td></tr>
            <tr><td></td><td></td><td></td><td>home</td><td></td><td></td><td>1</td><td>str</td><td>구어</td><td>공통</td><td>출신지(주 성장지)</td></tr>
            <tr><td></td><td></td><td></td><td>job</td><td></td><td></td><td>1</td><td>str</td><td>구어</td><td>공통</td><td>직업</td></tr>
            <tr><td></td><td></td><td></td><td>sex</td><td></td><td></td><td>1</td><td>str</td><td>구어</td><td>공통</td><td>성별. (남성은 M, 여성은 F)</td></tr>
            <tr><td></td><td></td><td>sentence</td><td></td><td></td><td></td><td>1..N</td><td>arr (obj)</td><td>공통</td><td>공통</td><td>문장</td></tr>
            <tr><td></td><td></td><td></td><td>id</td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>문장 ID.  ‘문서 ID.문서 내 문장 순서’로 구성. 문서 내 문장 순서는 1부터 시작</td></tr>
            <tr><td></td><td></td><td></td><td>form</td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>문장 정보</td></tr>
            <tr><td></td><td></td><td></td><td>utterance</td><td></td><td></td><td>1</td><td>obj</td><td>구어</td><td>공통</td><td>구어 발화 정보  </td></tr>
            <tr><td></td><td></td><td></td><td></td><td>id</td><td></td><td>1</td><td>str</td><td>구어</td><td>공통</td><td>발화 ID. 문서 내 1부터 시작</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>form</td><td></td><td>1</td><td>str</td><td>구어</td><td>공통</td><td>전사 내용. </td></tr>
            <tr><td></td><td></td><td></td><td></td><td>speaker_id</td><td></td><td>1</td><td>str</td><td>구어</td><td>공통</td><td>발화자 ID</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>note</td><td></td><td>1</td><td>str</td><td>구어</td><td>공통</td><td>전사자 노트</td></tr>
            <tr><td></td><td></td><td></td><td>word</td><td></td><td></td><td>1..N </td><td>arr (obj)</td><td>공통</td><td>공통</td><td>어절 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>id</td><td></td><td>1</td><td>num</td><td>공통</td><td>공통</td><td>어절 ID. 문장 내 순서로 1부터 시작</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>form</td><td></td><td>1</td><td>str</td><td>공통</td><td>공통</td><td>어절</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>begin</td><td></td><td>1</td><td>num</td><td>공통</td><td>공통</td><td>어절의 문장 내 시작 위치 (UTF-8 문자 위치로 1부터 시작)</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>end</td><td></td><td>1</td><td>num</td><td>공통</td><td>공통</td><td>어절의 문장 내 끝 위치 (UTF-8 문자 위치로 1부터 시작)</td></tr>
            <tr><td></td><td></td><td></td><td>morpheme</td><td></td><td></td><td>1..N</td><td>arr (obj)</td><td>공통</td><td>형태분석</td><td>형태소 분석 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>id</td><td></td><td>1</td><td>num</td><td>공통</td><td>형태분석</td><td>형태소 ID 문장 내 1부터 시작</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>form</td><td></td><td>1</td><td>str</td><td>공통</td><td>형태분석</td><td>형태소</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>label</td><td></td><td>1</td><td>str</td><td>공통</td><td>형태분석</td><td>형태소 품사 태그</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>word_id</td><td></td><td>1</td><td>num</td><td>공통</td><td>형태분석</td><td>형태소가 포함된 어절 ID</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>position</td><td></td><td>1</td><td>num</td><td>공통</td><td>형태분석</td><td>어절 내 형태소 위치. 예) 첫번째 형태소, 두번째 형태소 등</td></tr>
            <tr><td></td><td></td><td></td><td>WSD</td><td></td><td></td><td>1..N</td><td>arr (obj)</td><td>공통</td><td>어휘의미</td><td>어휘의미 분석 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>word</td><td></td><td>1</td><td>str</td><td>공통</td><td>어휘의미</td><td>어휘</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>sense_id</td><td></td><td>1</td><td>num</td><td>공통</td><td>어휘의미</td><td>어휘의 우리말샘 의미 번호</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>begin</td><td></td><td>1</td><td>num</td><td>공통</td><td>어휘의미</td><td>어휘의 문장 내 시작 위치 (UTF-8 문자 위치로 1부터 시작)</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>end</td><td></td><td>1</td><td>num</td><td>공통</td><td>어휘의미</td><td>어휘의 문장 내 끝 위치 (UTF-9 문자 위치로 1부터 시작)</td></tr>
            <tr><td></td><td></td><td></td><td>NE</td><td></td><td></td><td>1..N</td><td>arr</td><td>공통</td><td>개체명</td><td>개체명 분석 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>id</td><td></td><td>1</td><td>num</td><td>공통</td><td>개체명</td><td>개체명 ID. 문장 내 순서로 1부터 시작</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>form</td><td></td><td>1</td><td>str</td><td>공통</td><td>개체명</td><td>개체명</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>label</td><td></td><td>1</td><td>str</td><td>공통</td><td>개체명</td><td>개체명 태그</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>begin</td><td></td><td>1</td><td>num</td><td>공통</td><td>개체명</td><td>개체명의 문장 내 시작 위치. (UTF-8 문자 위치로 1부터 시작)</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>end</td><td></td><td>1</td><td>num</td><td>공통</td><td>개체명</td><td>개체명의 문장 내 끝 위치. (UTF-8 문자 위치로 1부터 시작)</td></tr>
            <tr><td></td><td></td><td></td><td>DP</td><td></td><td></td><td>0..N</td><td>arr</td><td>공통</td><td>구문분석</td><td>구문 분석 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>word_id</td><td></td><td>1</td><td>num</td><td>공통</td><td>구문분석</td><td>어절 ID. 문장 내 순서로 1부터 시작</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>word_form</td><td></td><td>1</td><td>str</td><td>공통</td><td>구문분석</td><td>어절</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>head</td><td></td><td>1</td><td>num</td><td>공통</td><td>구문분석</td><td>어절의 지배소 정보(어절 ID). 어절이 최상위 지배소면 -1</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>label</td><td></td><td>1</td><td>Str</td><td>공통</td><td>구문분석</td><td>구문 태그</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>dependent</td><td></td><td>1..N</td><td>arr (num)</td><td>공통</td><td>구문분석</td><td>어절의 피지배소 정보 (피지배소들의 어절 ID 숫자 배열)</td></tr>
            <tr><td></td><td></td><td></td><td>SRL</td><td></td><td></td><td>0..N</td><td>arr (obj)</td><td>공통</td><td>의미역</td><td>의미역 분석 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>predicate</td><td></td><td>1</td><td>obj</td><td>공통</td><td>의미역</td><td>서술어 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>form</td><td>1</td><td>str</td><td>공통</td><td>의미역</td><td>서술어</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>sense_id</td><td>1</td><td>num</td><td>공통</td><td>의미역</td><td>서술어의 의미 번호 (우리말샘 의미번호)</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>word_id</td><td>1</td><td>num</td><td>공통</td><td>의미역</td><td>서술어의 어절 ID</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>argument</td><td></td><td>1..N</td><td>arr</td><td>공통</td><td>의미역</td><td>인수 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>word_id</td><td>1</td><td>num</td><td>공통</td><td>의미역</td><td>인수의 어절 ID</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>word_form</td><td>1</td><td>str</td><td>공통</td><td>의미역</td><td>인수의 어절</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>label</td><td>1</td><td>str</td><td>공통</td><td>의미역</td><td>의미역 태그</td></tr>
            <tr><td></td><td></td><td>CR</td><td></td><td></td><td></td><td>0..N</td><td>arr (obj)</td><td>공통</td><td>상호참조</td><td>상호참조 해결 분석 정보</td></tr>
            <tr><td></td><td></td><td></td><td>entity</td><td></td><td></td><td>1</td><td>arr (obj)</td><td>공통</td><td>상호참조</td><td>상호참조된 개체 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>mention</td><td></td><td>2..N</td><td>arr (obj)</td><td>공통</td><td>상호참조</td><td>개체의 멘션 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>form</td><td>1</td><td>str</td><td>공통</td><td>상호참조</td><td>멘션. 예) 유시민, 그, 유</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>NE_id</td><td>0..1</td><td>num</td><td>공통</td><td>상호참조</td><td>멘션의 개체명 ID (개체명이 아닐 경우, -1을 부여함)</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>sentence_id</td><td>1</td><td>str</td><td>공통</td><td>상호참조</td><td>멘션의 문장 ID</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>begin</td><td>1</td><td>num</td><td>공통</td><td>상호참조</td><td>멘션의 문장 내 시작 위치. (UTF-8 문자 위치로 1부터 시작)</td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td>end</td><td>1</td><td>num</td><td>공통</td><td>상호참조</td><td>멘션의 문장 내 끝 위치 (UTF-8 문자 위치로 1부터 시작)</td></tr>
            <tr><td></td><td></td><td>ZA</td><td></td><td></td><td></td><td>0..N</td><td>arr (obj)</td><td>공통</td><td>대용어</td><td>무형 대용어 복원 정보</td></tr>
            <tr><td></td><td></td><td></td><td>type</td><td></td><td></td><td>1</td><td>str</td><td>공통</td><td>대용어</td><td>생략어의 종류. “subject”, “object” 중 택 1</td></tr>
            <tr><td></td><td></td><td></td><td>predicate</td><td></td><td></td><td>1</td><td>obj</td><td>공통</td><td>대용어</td><td>서술어 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>form</td><td></td><td>1</td><td>str</td><td>공통</td><td>대용어</td><td>서술어</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>word_id</td><td></td><td>1</td><td>num</td><td>공통</td><td>대용어</td><td>서술어의 어절 ID</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>sentence_id</td><td></td><td>1</td><td>str</td><td>공통</td><td>대용어</td><td>서술어의 문장 ID</td></tr>
            <tr><td></td><td></td><td></td><td>antecedent</td><td></td><td></td><td>1</td><td>obj</td><td>공통</td><td>대용어</td><td>선행어 정보</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>form</td><td></td><td>1</td><td>str</td><td>공통</td><td>대용어</td><td>선행어. 문서 내 존재하지 않는 대상이면 null 문자(“”)로 기술</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>sentence_id</td><td></td><td>1</td><td>str</td><td>공통</td><td>대용어</td><td>선행어가 있는 문장 ID. “-1”이면 문서 내 존재하지 않는 알 수 없는 대상</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>begin</td><td></td><td>1</td><td>num</td><td>공통</td><td>상호참조</td><td>선행어의 문장 내 시작 위치. (UTF-8 문자 위치로 1부터 시작) -1이면 문서 내 존재하지 않는 알 수 없는 대상</td></tr>
            <tr><td></td><td></td><td></td><td></td><td>end</td><td></td><td>1</td><td>num</td><td>공통</td><td>상호참조</td><td>선행어의 문장 내 끝 위치 (UTF-8 문자 위치로 1부터 시작) -1이면 문서 내 존재하지 않는 알 수 없는 대상</td></tr>
        </tbody>
    </v-simple-table>
</template>

<script>
    export default {
        name : 'TableInfo',
        props : ['windowHeight'],
        data() {
            return {
                tableHeight : 0,
            };
        },
        created() {
            this.tableHeight = this.windowHeight - 300;
        },
    };
</script>
