<template>
    <textarea class="line-textarea"
        v-model="textData"
        v-on:keyup="returnJson"
        :rows="textHeight"
    >
    </textarea>
</template>

<script>
export default {
    name : 'TexeInfo',
    props : ['windowHeight', 'jsonStr'],
    data() {
        return {
            tableHeight : 0,
            textData : null,
        };
    },
    created() {
        this.textHeight = (this.windowHeight - 200) / 25;
    },
    methods : {
        returnJson() {
            this.$emit('returnEvent', this.textData);
        },
    },
    mounted() {
        this.textData = this.jsonStr;
    },
    watch: {
        jsonStr() {
            this.textData = this.jsonStr;
        }
    }
};
</script>

<style>
.line-textarea{
    background: url(./../../public/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
    width:100%;
    height:100%;
}
</style>
